@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #182c3a;
  --primary-color: #11998e;
  --secondary-color: #38ef7d;
  --white-color: #f2f2f2;
  --gray-color: #9b9b9b;
}

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
